<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.decard.otglibs">
    <!-- 手机必须支持USB主机特性(OTG) -->
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".libaums.TestAumsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".host.HostActivity"></activity>
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->


            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".libaums.LibAumsActivity">

        </activity>
    </application>

</manifest>